<web-app>
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
<!--student page servlets-->

	
<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminBooking</servlet-name>
<servlet-class>AdminBooking</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminBooking</servlet-name>
<url-pattern>/AdminBooking</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>BookingStudent</servlet-name>
<servlet-class>BookingStudent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BookingStudent</servlet-name>
<url-pattern>/BookingStudent</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book01</servlet-name>
<servlet-class>Book01</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book01</servlet-name>
<url-pattern>/Book01</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book02</servlet-name>
<servlet-class>Book02</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book02</servlet-name>
<url-pattern>/Book02</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book03</servlet-name>
<servlet-class>Book03</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book03</servlet-name>
<url-pattern>/Book03</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book04</servlet-name>
<servlet-class>Book04</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book04</servlet-name>
<url-pattern>/Book04</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book05</servlet-name>
<servlet-class>Book05</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book05</servlet-name>
<url-pattern>/Book05</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Book06</servlet-name>
<servlet-class>Book06</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book06</servlet-name>
<url-pattern>/Book06</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book07</servlet-name>
<servlet-class>Book07</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book07</servlet-name>
<url-pattern>/Book07</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book08</servlet-name>
<servlet-class>Book08</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book08</servlet-name>
<url-pattern>/Book08</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book09</servlet-name>
<servlet-class>Book09</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book09</servlet-name>
<url-pattern>/Book09</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book01z</servlet-name>
<servlet-class>Book01z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book01z</servlet-name>
<url-pattern>/Book01z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book02z</servlet-name>
<servlet-class>Book02z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book02z</servlet-name>
<url-pattern>/Book02z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book03z</servlet-name>
<servlet-class>Book03z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book03z</servlet-name>
<url-pattern>/Book03z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book04z</servlet-name>
<servlet-class>Book04z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book04z</servlet-name>
<url-pattern>/Book04z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book05z</servlet-name>
<servlet-class>Book05z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book05z</servlet-name>
<url-pattern>/Book05z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book06z</servlet-name>
<servlet-class>Book06z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book06z</servlet-name>
<url-pattern>/Book06z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book07z</servlet-name>
<servlet-class>Book07z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book07z</servlet-name>
<url-pattern>/Book07z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book08z</servlet-name>
<servlet-class>Book08z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book08z</servlet-name>
<url-pattern>/Book08z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Book09z</servlet-name>
<servlet-class>Book09z</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Book09z</servlet-name>
<url-pattern>/Book09z</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserLogin</servlet-name>
<servlet-class>UserLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserLogin</servlet-name>
<url-pattern>/UserLogin</url-pattern>
</servlet-mapping>
	
</web-app>